# Programming

Programming is a way to instruct the computer from the user to perform a various task.

# Python

Python is a popular, easy to learn & interpreted programming language. Python was created by Guido Van Rossum and released in 1991.
It is mainly used for Web Development, Software Development, Game Development, Machine Learning and Deep Learning.

## Features of Python

- Easy to Understand
- Free and Open Source
- High level Language
- Portable - Works on different OS

### Installation of Python

Visit this link:- https://www.python.org/downloads/ for download the python according to your system configuration.

##### Note:- The extension of python file is .py

### pip

pip is a pacakage manager which uses for installing the modules of python in your system.

#### There are two modules of Python.
1. Built in Modules:- build in modules pre installed in python.
2. Installed by Externally:- these modules need to be installed by using pip.

    E.g. pip install numpy

#### Comments in Python
Comments use as a note in code, because this is not include in code and python interpreter ignore these lines in code.
###### There are two types of comments
1.Single Line Comments
  - this comment start by using #. E.g. # this is a comment.

2.Multi Line Comments
  - this comment written in triple quotes in multi lines. 
  
          E.g. ''' this is a Multi
                  line comment.'''

### Let's write our first python code

In [1]:
print("Hello World!")

Hello World!

### Variables in Python
   Variables are containers type in python for storing the data values. Also we can say that in program variable is a name to given a particular memory location.
   
   E.g.

In [2]:
x = 2           # this is a int type
y = 5.2         # this is a float.
z = 'Akshat'    # this is a string.

In [3]:
print(x)
print(y)
print(z)

2
5.2
Akshat

#### Rules of defining the variables
- A variable can contain only alphabets, digits and underscore.
- Variable name can only start with alphabets and underscore.
- Variable can't start with digits.
- Whitespace does not allow to use iniside the variable.
- Variables can be case sensitive.(hello, HEllO & HELLO are diffrent variable.)


Let's see the example below:-

In [4]:
_h = 5
a = 3
h_b = 3
hello = 'Raju'
HellO = 7
HELLO = 9

In [5]:
print(_h)
print(a)
print(h_b)
print(hello)
print(HellO)
print(HELLO)

5
3
3
Raju
7
9

In [6]:
# 1 = 2
# when we try to declare variable with digit, it throw the error.

#### Data Types in Python
- Integer
- Float
- String
- Boolean
- None

we can also know the data types of varible by using pre defined type function.

In [7]:
x = 21
y = 21.5
z = 'Hello'

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

#### Assign multiple values

In [8]:
a, b, c = 'Orange', 5, 'Banana'

In [9]:
print(a)
print(b)
print(c)

Orange
5
Banana

We can also assign single value to multiple variables.

In [10]:
a = b = c = "Mango"

In [11]:
print(a)
print(b)
print(c)

Mango
Mango
Mango

#### Operators in Python

1. Arthmetic Operators:- (+, -, *, / etc.)
2. Assignment Operators:- (=, +=, -= etc.)
3. Comparison Operators:- (==, >, <, <=, >=, etc)
4. Logical Operators:- (and, or, not)

#### Typecasting

Convert the one datatypes to another datatypes is known as **Typecasting**.

In [12]:
str(58)
# the integer value will convert in a string.

'58'

In [13]:
int('58')
# the string value will convert in a integer.

58

In [14]:
float(58)
# the integer value will convert in a float value.

58.0

#### Input Function
This Function allows the user to take the input from the user(from the keyboard). 

###### Note:- In the input function the output of user taken value will always a String.

In [15]:
a = input("Enter is your name: ")

Enter is your name: Akshat

#### Strings
Which sentence surrounded by single or double quotation marks in python is known as Strings and this is also a datatype of python.


##### 'Akshat' is the same as "Akshat".
we can display string by print method.

Let's see example.

In [16]:
print('Akshat')
print("Saini")

Akshat
Saini

##### Now assign string value to a variable.

In [17]:
a = 'Akshat'
b = "Saini"

In [18]:
print(a)
print(b)

Akshat
Saini

We can also assign the multiline string to a variable by using three double quotes and three single quotes.

In [19]:
a = """Hello this is a tutorial of python.
and
this is a multiline string."""

In [20]:
print(a)

Hello this is a tutorial of python.
and
this is a multiline string.

In [21]:
b = '''Hello this is a tutorial of python.
and
this is a multiline string.'''

In [22]:
print(b)

Hello this is a tutorial of python.
and
this is a multiline string.

#### String Slicing
Find the position of the values in a string is known as **Slicing**.

let's see the example of string slicing.

In [23]:
name = 'AKSHAT'    # No. of letter in the string is called lenth, so Lenth = 6 of this string.

In the slicing the indexing of the string starts from **0 to lenth -1**. So, the indxing of this is string is--
- A = [0]
- K = [1]
- S = [2]
- H = [3]
- A = [4]
- T = [5]

In [24]:
name[0], name[1], name[2], name[3], name[4], name[5]

('A', 'K', 'S', 'H', 'A', 'T')

#### Method of Slicing

slicing  = name [first index is included : last index is not included]
 
Let's see below example

In [25]:
name[0:3]
# From A to S will print.

'AKS'

In [26]:
name[1:3]
# only K and S will print.

'KS'

#### Negative Indexing
Negative Indexing also same as Normal Indexing but in this, indxeing starts from the last element of the string in negative sequence.

E.g
- A = [-6]
- K = [-5]
- S = [-4]
- H = [-3]
- A = [-2]
- T = [-1]

In [27]:
name[-6], name[-5], name[-4], name[-3], name[-2], name[-1]

('A', 'K', 'S', 'H', 'A', 'T')

#### String Functions
There are some functions which uses for perform the operations in string.

In [28]:
len(name)
# This function is use for knowing the lenth of the string.

6

In [29]:
name.endswith("AT")

# This function return that the mention letter is availabe or not in the end of the string.
# This function return the output in only boolean form. It can be only True or False.

True

In [30]:
name.endswith("KS")

False

In [31]:
name.count('A')
# This function count the number of same letter in a string.

2

In [32]:
name.capitalize()
# This function make the first letter capital of the string.

'Akshat'

In [33]:
name.find('H')
# This function find the indexing of the mentioned letter.

3

In [34]:
name.replace('A','O')
# This function replace the old letter to new letter.

'OKSHOT'

#### Escape Characters of String
\\'	Single Quote	
\\	Backslash	
\n	New Line		
\t	Tab	
\b	Backspace

#### String Concatenation
For combine and add the two string by using + operator is known as **String Concatenation**.

In [35]:
x  = 'Hello'
y  = 'World!'
c = x + y
print(c)

HelloWorld!

For using the whitespaces between string add **" "**.

E.g

In [36]:
c = x + " " + y
print(c)

Hello World!

### List 

Python List is a container type for store the value of any datatype in the conatiner. List items are ordered, Changeble and allow duplicates value.
##### List are written in square brackets[ ].

E.g.

In [37]:
list1 = ['Hello','Akshat','Mango',10.5,'Banana',10]

In [130]:
len(list1)
# we can know the length(no. of elements) with this method.

6

In [38]:
list1

['Hello', 'Akshat', 'Mango', 10.5, 'Banana', 10]

#### List Indexing
List indexing is also same as string indexing. List also have negative indexing same as string.

Positive and Negative Indexing of list1 is:-
- Hello = [0],       [-6] 
- Akshat = [1], [-5]
- Mango = [2],  [-4]
- 10.5 = [3],   [-3]
- Banana = [4], [-2]
- 10 = [5],     [-1]

In [39]:
list1[0], list1[1], list1[2], list1[3], list1[4], list1[5]

('Hello', 'Akshat', 'Mango', 10.5, 'Banana', 10)

In [40]:
list1[-6], list1[-5], list1[-4], list1[-3], list1[-2], list1[-1]

('Hello', 'Akshat', 'Mango', 10.5, 'Banana', 10)

#### List Method

l1 = [1,2,8,7,3,9,10,6]

In [41]:
l1 = [1,2,8,7,3,9,10,6]

In [42]:
print(len(l1))
# with this function we can know the lenth of the list.

8

In [43]:
l1.sort()
print(l1)
# this method update the list in a sequance order.

[1, 2, 3, 6, 7, 8, 9, 10]

In [44]:
l1.reverse()
print(l1)
# this method the reverse the list.

[10, 9, 8, 7, 6, 3, 2, 1]

In [45]:
l1.append(12)
print(l1)
# this method add the value in the end of the list.

[10, 9, 8, 7, 6, 3, 2, 1, 12]

In [46]:
l1.insert(4,25)
l1
# this method insert the 25 value at the 4th index.

[10, 9, 8, 7, 25, 6, 3, 2, 1, 12]

In [47]:
l1.pop(2)
l1
# this method delete the value from the 2nd index of the list.

[10, 9, 7, 25, 6, 3, 2, 1, 12]

In [48]:
l1.remove(25)
l1
# this method remove the 25 value from the list.

[10, 9, 7, 6, 3, 2, 1, 12]

#### List Comprehension
We can create the new list based on exiting value in the previous list is called **List Comprehension**.

In [49]:
previouslist = ["apple", "banana", "onion", "kiwi", "mango"]

In [125]:
newlist = []
# We can also make a empty list like this.
type(newlist)

list

In [51]:
for x in previouslist:
    if "a" in x:
        newlist.append(x)

In [52]:
print(newlist)
# a is available in three name in the list.

['apple', 'banana', 'mango']

In [53]:
newlist1 = [y for y in previouslist if "i" in y]
# we can also create the new list by this method.

In [54]:
print(newlist1)

['onion', 'kiwi']

In [55]:
no_list = [x for x in range(20)]
print(no_list)
# make a list from 0 to 19 because in the indexing first value is including and last value excluded.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Tuples
Tuple is a collection which is orderd and **unchangeble**. A Tuple is **immutable** datatype in python, means we can not update the tuple.

Tuple items are **ordered**, **unchangeable**, and allow the **duplicate** values.

Once defined a tuple
##### Tuples are written in round brackets( ).

In [56]:
my_tuple = ('Hello','Akshat','Mango',10.5,'Banana',10,'Mango')

In [131]:
len(my_tuple)
# we can know the length(no. of elements) with this method.

7

In [57]:
print(my_tuple)

('Hello', 'Akshat', 'Mango', 10.5, 'Banana', 10, 'Mango')

Tuple also have indexing same as string or list.

we can access the tuple by reffering the index number.

In [58]:
my_tuple[1]
# There is Akshat at 1 index.

'Akshat'

In [59]:
my_tuple[5]
# There is 10 at 5 index.

10

In [60]:
my_tuple[-5]
# There is Mango at -5 index.

'Mango'

#### Tuple Methods
Tuple has two built-in methods.

In [61]:
Number = (1,2,3,2,7,9,7,2,4,5,2)

In [62]:
print(Number)

(1, 2, 3, 2, 7, 9, 7, 2, 4, 5, 2)

In [63]:
Number.count(2)
# 2 is 4 times in this tuple.

4

In [64]:
Number.count(7)
# 7 is two times in this tuple.

2

In [65]:
Number.index(5)
# this return the value mentioned index.

9

In [66]:
Number.index(7)
# this return the value mentioned index

4

In [127]:
new_tuple = ()
# We can also make a empty tuple like this.
type(new_tuple)

tuple

### Dictionaries

Dictionaries are used to store data value in Key Value pair.
- A Dictionary is a collection which is ordered, changeble, indexed and do not allow duplicates.
- Dictionary are written with Curly Brackets { }.

In [133]:
my_dict = {"name":"Akshat","Surname":"Saini","Age":30,"year":2022}

In [134]:
len(my_dict)
# we can know the length(no. of elements) with this method.

4

In [68]:
print(my_dict)
# This is a dictonary with key value pair.

{'name': 'Akshat', 'Surname': 'Saini', 'Age': 30, 'year': 2022}

In [69]:
my_dict.items()
# return a list with key and value(tuple)

dict_items([('name', 'Akshat'), ('Surname', 'Saini'), ('Age', 30), ('year', 2022)])

In [70]:
my_dict.keys()
# return the list of key.

dict_keys(['name', 'Surname', 'Age', 'year'])

In [71]:
my_dict.update({"FruitName":"Apple"})
my_dict
# update the list with new key values.

{'name': 'Akshat',
 'Surname': 'Saini',
 'Age': 30,
 'year': 2022,
 'FruitName': 'Apple'}

In [72]:
my_dict.get("name")
# return outout with specified key

'Akshat'

In [128]:
new_dict = {}
# We can also make a empty Dictionary like this.
type(new_dict)

dict

###### Note:- More methods are also available in Dictionary.

### Set
Set is a collection of non re-peatitve elements,all elements will Unique.
- Set are also written with Curly Brackets { }.
- Set items are unordered, unchangeable, and do not allow duplicate values.
##### Note: items in sets are unchangeable, but we can remove items and add new items.

In [84]:
my_set1 = {"banana", "cherry", "apple"}
print(my_set)
# return all values of the set.

{'banana', 'apple', 'cherry'}

In [86]:
my_set2= {"banana", "cherry", "apple","cherry","apple"}
len(my_set)
print(my_set)
# return only unique values.

{'banana', 'apple', 'cherry'}

In [89]:
len(my_set1)
# return lenth of the set and here only 3 elements in set1.

3

In [91]:
len(my_set2)
# there are 5 elements in set2, but return only unique elements.

3

In [144]:
new_set = {1,8,6,9,2,"Hello"}
print(new_set)

{1, 2, 6, 'Hello', 8, 9}

In [146]:
new_set.add("orange")
print(new_set)
# this method add element in a set.

{1, 2, 'orange', 6, 'Hello', 8, 9}

In [110]:
new_set.remove(9)
new_set
# remove 9 from the set and update the set.

{1, 2, 6, 8, 'Hello'}

In [113]:
new_set.clear()
new_set
# remove all the elements from set and return empty set.

set()

In [135]:
new_set = set()
# We can also make a empty Set like this.
type(new_set)

set

In [138]:
new_Set1 = {}
# we can not write empty set with curly brackets, because this only return Dictionary.

#### Join Two Sets

In [115]:
a = {"x","y","z"}

In [119]:
b = {1,2,3,4,}

In [120]:
c = a.union(b)

In [129]:
print(c)
# this method returns a new set(join) with all items from both sets.

{'x', 1, 2, 3, 4, 'y', 'z'}

In [139]:
z = {"apple","banana","cherry"}

In [140]:
y = {"Facebook","Instagram","apple"}

In [143]:
x = z.intersection(y)
print(x)
# this method return common elemnets from the both sets.

{'apple'}

### Conditional Expression
An additional decision making entity is called as Conditional Expression.
Usually python supports logical conditions from Mathematics.
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

A conditional statement is written using **if** keyword.


E.g.

In [155]:
a = 8
b = 16
if b > a:
print("b is greater than a")
# expected an indented block :- use indentation after a condition.

IndentationError: expected an indented block (360172341.py, line 4)

###### Note:- Indentation is just 4 spaces, which is written after a condition.

See below E.g.

In [156]:
a = 8
b = 16
if b > a:
    print("b is greater than a")
# because 16 is always greater than 8, so it will print b is greater than a.

b is greater than a

In [157]:
a = 25
b = 5
if a < b:
    print("b is greater than a")       # when Condition is true it will print this.
else:
    print("a is not greater than b")   # when Condition is not true it will print this.
# Here we used else for another condition.

a is not greater than b

We use **elif** condition **if** the first condition is not true.

In [158]:
# Now we will take a integer input from a user to test condition 1st.

Akshat = int(input("Enter a Number: "))
Gaurav = 18
if Akshat > Gaurav:
    print("Akshat is greater than Gaurav")
elif Akshat==Gaurav:
    print("Akshat is equal to Gaurav")
else:
    print("Akshat is not Greater than Gaurav")

Enter a Number: 18
Akshat is equal to Gaurav

In [159]:
# Now we will take a integer input from a user to test condition 2nd.
Akshat = int(input("Enter a Number: "))
Gaurav = 18
if Akshat > Gaurav:
    print("Akshat is greater than Gaurav")
elif Akshat==Gaurav:
    print("Akshat is equal to Gaurav")
else:
    print("Akshat is not Greater than Gaurav")

Enter a Number: 24
Akshat is greater than Gaurav

In [161]:
# Now we will take a integer input from a user to test condition 3rd.
Akshat = int(input("Enter a Number: "))
Gaurav = 18
if Akshat > Gaurav:
    print("Akshat is greater than Gaurav")
elif Akshat == Gaurav:
    print("Akshat is equal to Gaurav")
else:
    print("Akshat is not Greater than Gaurav")

Enter a Number: 4
Akshat is not Greater than Gaurav

##### Note:
- we can use **elif** any number of times in a code.
- **else** condition is executed only if all the condition getting fail in code.

##### Logical Operators as Conditional Expression.

we have three logical operators in Python.
- and
- or
- not

Let's see example of these operators.

In [2]:
# test if a is greater than b, AND if c is greater than a
a = 200
b = 100
c = 300
if a > b and c > a:
    print("Yes, This condition is True!")
# both conditions are true here.

Yes, This condition is True!

In [5]:
# test if a is greater than b, OR if a is greater than c
a = 200
b = 100
c = 300
if a > b or a > c:
    print("Yes, Only first condition will true!")
# Here, atleast only one conditon should be true.

Yes, Only first condition will true!

In [21]:
a = 100
if not 200 < a:
    print("200 is not less than a")
# because 200 is greater than a, so this condition will true.

200 is not less than a